@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input-with-label:focus + label{
  @apply text-sm -translate-x-3 -translate-y-9 text-blue-900;
}

.label-up{
  @apply text-sm -translate-x-3 -translate-y-9 text-blue-900;
}

.full-minus-nav {
  height: calc(100vh - 64px)
}

.min-dash-height {
  min-height: calc(100vh - 64px);
}

.-border-x-2{
  border-left-width: -10px;
  border-right-width: -10px;
}